<!-- TODO 用户/会员全部收货地址临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户/会员全部收货地址临时页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>

    <link th:href="@{/gfstatic/templateone/res/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/pagination.css}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" th:href="@{/gfstatic/image/favicon.ico}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <br>
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-home"></i>收货地址管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="javascript:void(0);">已有收货地址</a>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>
                        收货地址列表
                    </div>
                </div>
                <div class="portlet-body">
                    <table th:if="${addressList.size()}==0" class="table table-bordered table-striped">
                        <tr>
                            <td>暂无收货地址</td>
                        </tr>
                    </table>

                    <table th:if="${addressList.size()}!=0" id="userTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>收货人姓名</th>
                                <th>行政区</th>
                                <th>详细地址</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tr th:each="addr:${addressList}" >
                            <td th:text="${addr.addressName}"></td>
                            <td th:if="${addr.addressDistrict}!=null" th:text="${addr.addressProvince}+' '+${addr.addressCity}+' '+${addr.addressDistrict}"></td>
                            <td th:if="${addr.addressDistrict}==null" th:text="${addr.addressProvince}+' '+${addr.addressCity}"></td>
                            <td th:text="${addr.addressDetail}"></td>
                            <td style="text-align: center">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" th:href="@{/user/management/address/modify/{uid}(uid=${addr.addressUid})}">修改</a>
                                <button class="layui-btn layui-btn-primary layui-btn-xs" href="javaScript:void(0)" name="gf_delete" th:value="${addr.addressUid}">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/gfstatic/js/management/user/address.js}"></script>
</body>
</html>