<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户申请记录临时页面</title>

    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>

    <link th:href="@{/gfstatic/templateone/res/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/pagination.css}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" th:href="@{/gfstatic/image/favicon.ico}" />
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <br>
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0);"><i class="fa fa-home"></i>商家管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:void(0);">申请记录</a>
            </li>
        </ul>
    </div>
    <div class="row-fluid">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>
                    申请记录
                </div>
            </div>
            <div class="portlet-body">
                <table id="userTable" class="table table-bordered table-striped">
                    <tr>
                        <th>提交日期</th>
                        <th>审核结果</th>
                        <th>未审核通过原因</th>
                    </tr>
                    <tr th:if="${businessReviewList.size()}==0" >
                        <td colspan="3">当前暂无审核记录</td>
                    </tr>
                    <tr th:if="${businessReviewList.size()}!=0" th:each="br:${businessReviewList}" >
                        <td th:text="${#dates.format(br.reviewSubmitTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:if="${br.reviewResult}==null" colspan="2">审核中</td>
                        <td th:if="${br.reviewResult}!=null and ${br.reviewResult}==0">未通过</td>
                        <td th:if="${br.reviewResult}!=null and ${br.reviewResult}==0" th:text="${br.reviewReason}"></td>
                        <td th:if="${br.reviewResult}!=null and ${br.reviewResult}==1">通过</td>
                        <td th:if="${br.reviewResult}!=null and ${br.reviewResult}==1"></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>