<!-- TODO 实名认证临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实名认证临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/regex.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>

    <link th:href="@{/gfstatic/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/pagination.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/templateone/res/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <br>
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-home"></i>个人信息</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="javascript:void(0);">实名认证</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>
                        实名认证
                    </div>
                    <span th:if="${session.user.userIdcard}!=null">你已完成实名认证！</span>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" th:if="${session.user.userIdcard}==null">
                        <div class="control-group">
                            <label class="control-label">真实姓名：</label>
                            <div class="controls">
                                <input id="gf_realname" type="text" class="m-wrap media"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">身份证号：</label>
                            <div class="controls">
                                <input id="gf_idcard" type="text" class="m-wrap media"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="button" id="gf_sure" value="确定" class="layui-btn layui-btn-normal layui-btn-ms" />
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" th:if="${session.user.userIdcard}!=null">
                        <div class="control-group">
                            <label class="control-label">真实姓名：</label>
                            <div class="controls">
                                <span th:text="${name}"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">身份证号：</label>
                            <div class="controls">
                                <span th:text="${idcard}"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="button" id="back" value="返回" class="layui-btn layui-btn-normal layui-btn-ms" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="gf_uid" th:value="${session.user.userUid}"/>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/user/certification.js}"></script>
</body>
</html>