<!-- TODO 修改账户所绑定邮箱的临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改账户所绑定邮箱的临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/regex.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <span th:if="${session.user.userMail}==null" style="color: #FF0000; font-weight: bold;">未绑定邮箱</span>
    <table th:if="${session.user.userMail}!=null" border="1">
        <tr>
            <td>当前绑定邮箱</td>
            <td style="color: #FF0000; font-weight: bold;" th:text="${mail}"></td>
        </tr>
    </table>
    <hr/>
    <form>
        <label for="gf_mail">新绑定邮箱</label>
        <input type="text" id="gf_mail"/>
        <br/>
        <input type="button" id="gf_sure" value="确定"/>
    </form>
    <input type="hidden" id="gf_uid" th:value="${session.user.userUid}"/>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/user/modify-mail.js}"></script>
</body>
</html>