<!-- TODO 修改密码临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/regex.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <form>
        <label for="gf_password_a">新密码</label>
        <input type="password" id="gf_password_a"/>
        <br/>
        <label for="gf_password_b">确认新密码</label>
        <input type="password" id="gf_password_b"/>
        <br/>
        <input type="button" id="gf_sure" value="确认"/>
    </form>
    <input type="hidden" id="gf_uid" th:value="${session.user.userUid}"/>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/user/modify-password.js}"></script>
</body>
</html>