<!-- TODO 上架商品临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上架商品临时页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/regex.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <form>
        <label for="gf_name">名称</label>
        <input type="text" id="gf_name"/>
        <br/>
        <br/>
        <label for="gf_price">单价</label>
        <input type="text" id="gf_price"/>
        <br/>
        <br/>
        <label for="gf_unit">单价单位</label>
        <input type="text" id="gf_unit"/>
        <br/>
        <br/>
        <label for="gf_desc">商品描述</label>
        <textarea id="gf_desc"></textarea>
        <br/>
        <br/>
        <label for="gf_type">商品分类</label>
        <select id="gf_type">
            <option value="default">请选择</option>
            <option th:if="${typeList.size()}!=0" th:each="tp:${typeList}" th:value="${tp.productType.typeUid}" th:text="${tp.productType.typeName}"></option>
        </select>
        <br/>
        <br/>
        <label for="gf_main_img">商品主图片</label>
        <input type="file" id="gf_main_img" accept="image/jpeg,image/png,image/gif"/>
        <br/>
        <br/>
        <label for="gf_other_img">商品其他图片</label>
        <input type="file" id="gf_other_img" multiple="multiple" accept="image/jpeg,image/png,image/gif"/>
        <br/>
        <br/>
        <input type="checkbox" id="gf_agree">
        <span>承诺商品信息的正确性</span>
        <br/>
        <br/>
        <input type="button" id="gf_sure" value="提交" disabled="disabled"/>
    </form>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/business/add-product.js}"></script>
</body>
</html>