<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>地图</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f48fcde49f6822707df87e6e395b4d08"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>
</head>
<body>
    <div id="container" style="width: 600px; height: 450px;"></div>
    <input type="hidden" id="lng" th:value="${lng}"/>
    <input type="hidden" id="lat" th:value="${lat}"/>
    <script type="text/javascript">
        var map = initMap("container");
        markPoint(map, $("#lng").val(), $("#lat").val());
    </script>
</body>
</html>