<!-- TODO 商家中心临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商家中心临时页面</title>
    <!--<link rel="stylesheet" th:href="@{/gfstatic/templateone/res/layui/css/layui.css}"/>-->
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <table th:if="${session.business}!=null" border="1">
        <tr>
            <td>会员号</td>
            <td th:text="${session.user.userUsername}"></td>
        </tr>
        <tr>
            <td>昵称</td>
            <td th:text="${session.user.userNickname}"></td>
        </tr>
        <tr>
            <td>店铺名称</td>
            <td th:text="${session.business.businessShopName}"></td>
        </tr>
    </table>
    <!-- TODO 店铺开启或关闭 -->
    <hr/>
    <a href="#">店铺详情</a>
    <hr/>

</body>
</html>