<!-- TODO 商家中心临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商家中心临时页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <table th:if="${session.business}!=null" border="1">
        <tr>
            <td>会员号</td>
            <td th:text="${session.user.userUsername}"></td>
        </tr>
        <tr>
            <td>昵称</td>
            <td th:text="${session.user.userNickname}"></td>
        </tr>
        <tr>
            <td>店铺名称</td>
            <td th:text="${session.business.businessShopName}"></td>
        </tr>
        <tr>
            <td>店铺描述</td>
            <td th:text="${session.business.businessShopDescription}"></td>
        </tr>
        <tr>
            <td>经营范围</td>
            <td>
                <span th:if="${scopes.size()}!=0" th:each="sp:${scopes}" th:text="${sp.productType.typeName}"></span>
            </td>
        </tr>
    </table>
    <hr/>
    <h4>商品管理</h4>
    <a th:href="@{/business/management/product}">我的上架商品</a>
    <a th:href="@{/business/management/product/down}">我的下架商品</a>
    <a th:href="@{/business/management/product/add}">申请上架商品</a>
    <a th:href="@{/business/management/product/review}">商品审核记录</a>
    <hr/>
    <h4>农场管理</h4>
    <a href="javascript:void(0);" id="gf_farm_up">我发布的农场租赁信息</a>
    <a href="javascript:void(0);" id="gf_farm_down">我下线的农场租赁信息</a>
    <a href="javascript:void(0);" id="gf_farm_submit">申请发布农场租赁信息</a>
    <a href="javascript:void(0);" id="gf_farm_review">农场租赁信息审核记录</a>
    <input type="hidden" th:value="${session.business.businessUid}" id="gf_business_uid"/>
    <hr/>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/business/index.js}"></script>
</body>
</html>