<!-- TODO 选择找回用户名方法临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回用户名</title>
    <link rel="stylesheet" type="text/css" th:href="@{/gfstatic/templateone/res/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <div style="margin:0 auto; padding-top: 200px; width: 500px;text-align: center">
        <div class="layui-card" style="background-color: #5FB878">
            <div class="layui-card-header">
                <h1 style="color: white">找回用户名</h1>
            </div>
            <div class="layui-card-body">
                <div class="layui-form-item" th:if="${phone}!=null">
                    <!-- 账号 -->
                    <div class="layui-inline ">
                        <div class="layui-input-inline" style="color: white; font-size: 18px">
                            <span>当前账户绑定的手机号为：</span>
                            <span th:text="${phone}" style="color: #FF0000; font-weight: bold"></span>
                            <br/>
                            <a href="javascript:void(0)" id="gf_phone">通过手机号找回</a>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" th:if="${mail}!=null">
                    <!-- 账号 -->
                    <div class="layui-inline ">
                        <div class="layui-input-inline" style="color: white; font-size: 18px">
                            <span>当前账户绑定的邮箱为：</span>
                            <span th:text="${mail}" style="color: #FF0000; font-weight: bold"></span>
                            <br/>
                            <a href="javascript:void(0)" id="gf_mail">通过邮箱找回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/gfstatic/js/common/user/forget-username-method.js}"></script>
</body>
</html>