<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>忘记账号</title>
    <link rel="stylesheet" type="text/css" th:href="@{/gfstatic/templateone/res/static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/gfstatic/templateone/res/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

    <div class="header">
        <div class="headerLayout w1200">
            <div class="headerCon">
                <h1 class="mallLogo">
                    <a href="#" title="绿色农场">
                        <img th:src="@{/gfstatic/templateone/res/static/img/logo.png}"/>
                        <h4 style="display:inline; color:#029789">绿色农场互联网商城</h4>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <div class="content content-nav-base  login-content">
        <div class="login-bg">
            <div class="login-cont w1200">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-md-offset7">
                        <div class="layui-card" style="background-color: #eeeeee">
                            <div class="layui-card-header layui-col-space10" style="padding-top: 10px">
                                <h2 style="display:inline">忘记账号</h2>
                                <span style="color: #FF5722; font-weight: bolder">仅限进行实名认证的用户使用</span>
                            </div>
                            <div class="layui-card-body">
                                <form class="layui-form">
                                    <div class="layui-form-item">
                                        <!-- 身份证号 -->
                                        <div class="layui-inline iphone">
                                            <div class="layui-input-inline">
                                                <i class="layui-icon layui-icon-user iphone-icon"></i>
                                                <input type="text" id="gf_idcard" class="layui-input" placeholder="身份证号" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <!-- 真实姓名 -->
                                        <div class="layui-inline iphone">
                                            <div class="layui-input-inline">
                                                <i class="layui-icon layui-icon-user iphone-icon"></i>
                                                <input type="text" id="gf_realname" class="layui-input" placeholder="真实姓名" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <!-- 验证码 -->
                                        <div class="layui-inline veri-code">
                                            <div class="layui-input-inline">
                                                <input id="gf_vcode" type="text" name="gf_vcode" placeholder="验证码" autocomplete="off" class="layui-input">
                                                <img id="gf_vcode_img" class="layui-btn" th:src="@{/graph/vcode}" style="height: 50px; width: 120px"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item" style="float: right">
                                        <div class="layui-inline layui-col-space5">
                                            <a class="layadmin-link" th:href="@{/user/password/login}">返回会员登录</a>
                                            <a class="layadmin-link" th:href="@{/user/mobile/login}">返回手机登录</a>
                                            <!--<a href="#">商家入驻</a>-->
                                        </div>
                                    </div>
                                    <!-- 确定 -->
                                    <div class="layui-form-item login-btn">
                                        <div class="layui-input-block">
                                            <input type="button" class="layui-btn" style="width: 100%;" id="gf_sure" lay-filter="component-form-element" value="确定">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/user/forget-username.js}"></script>
</body>
</html>