<!-- TODO 找回密码方式临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码方式临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <span th:if="${phone}!=null">当前账户绑定的手机号为：</span>
    <span th:if="${phone}!=null" th:text="${phone}" style="color: #FF0000; font-weight: bold"></span>
    <br/>
    <a th:if="${phone}!=null" href="javascript:void(0)" id="gf_phone">通过手机号找回</a>
    <hr/>
    <span th:if="${mail}!=null">当前账户绑定的邮箱为：</span>
    <span th:if="${mail}!=null" th:text="${mail}" style="color: #FF0000; font-weight: bold"></span>
    <br/>
    <a th:if="${mail}!=null" href="javascript:void(0)" id="gf_mail">通过邮箱找回</a>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/user/forget-password-method.js}"></script>
</body>
</html>