<!-- TODO 找回密码临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>忘记密码临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <form>
        <label for="gf_key">登录名</label>
        <input type="text" id="gf_key" placeholder="会员号/手机号/邮箱"/>
        <br/>
        <label for="gf_vcode">验证码</label>
        <input type="text" id="gf_vcode"/>
        <img id="gf_vcode_img" class="layui-btn" th:src="@{/graph/vcode}" style="width: 130px;"/>
        <br/>
        <input type="button" id="gf_sure" value="确定"/>
    </form>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/user/forget-password.js}"></script>
</body>
</html>