<!-- TODO 填写邮箱验证码临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>填写验证码临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <form>
        <label for="gf_vcode">验证码</label>
        <input type="text" id="gf_vcode"/>
        <br/>
        <input type="button" id="gf_sure" value="确认"/>
    </form>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/user/forget-password-vcode.js}"></script>
</body>
</html>