<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>静态资源访问测试页面</title>
    <link rel="stylesheet" th:href="@{/gfstatic/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/vendor/layer/layer.js}"></script>
</head>
<body>
    <h2>访问图片</h2>
    <img th:src="@{/gfstatic/img/1.jpg}"/>
    <hr/>
    <h2>访问外部&nbsp;WebJars</h2>
    <button class="btn btn-primary">哈</button>
    <hr/>
    <h2>访问自定义&nbsp;vendor</h2>
    <button id="click" class="btn btn-danger">点击</button>
    <script>
        $("#click").on('click', function () {
            layer.msg("被点击");
        });
    </script>
</body>
</html>