<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已审核商家详情页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <table th:if="${vo.businessList.size()}!=0" border="1">
        <tr>
            <td>店铺编号</td>
            <td>申请人昵称</td>
            <td>店铺名称</td>
            <td>操作</td>
        </tr>
        <tr th:each="br:${vo.businessList}">
            <td th:text="${br.businessUid}"></td>
            <td th:text="${br.getUser().getUserUsername()}"></td>
            <td th:text="${br.getBusinessShopName()}"></td>
            <td>
                <a th:href="@{/greenfarm/admin/management/business/detail/{businessId}(businessId=${br.getBusinessUid()})}">
                    详细信息
                </a>
            </td>
        </tr>
    </table>
    <hr/>
    <div th:if="${vo.businessList.size()}!=0">

        <a th:if="${vo.pageInfo.isFirstPage}==true" disabled="disabled">首页</a>
        <a th:if="${vo.pageInfo.isFirstPage}==false" th:href="@{/greenfarm/admin/management/business/loadAll(page=1)}">首页</a>
        <a th:if="${vo.pageInfo.hasPreviousPage}==false" disabled="disabled">上一页</a>
        <a th:if="${vo.pageInfo.hasPreviousPage}==true" th:href="@{/greenfarm/admin/management/business/loadAll(page=${vo.pageInfo.pageNum}-1)}">上一页</a>

        <!--<a th:if="${pg}!=${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/business/review(page=${pg})}" th:text="${pg}"></a>-->
        <!--<a th:if="${pg}==${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:text="${pg}" disabled="disabled"></a>-->

        <a th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/business/loadAll(page=${pg})}" th:text="${pg}"></a>
        <a th:if="${vo.pageInfo.hasNextPage}==false" disabled="disabled">下一页</a>
        <a th:if="${vo.pageInfo.hasNextPage}==true" th:href="@{/greenfarm/admin/management/business/loadAll(page=${vo.pageInfo.pageNum}+1)}">下一页</a>

        <a th:if="${vo.pageInfo.isLastPage}==true" disabled="disabled">末页</a>
        <a th:if="${vo.pageInfo.isLastPage}==false" th:href="@{/greenfarm/admin/management/business/loadAll(page=${vo.pageInfo.pages})}">末页</a>
    </div>


    <table th:if="${vo.businessList.size()}==0" border="1">
        <tr>
            <td>申请流水号</td>
            <td>申请人名称</td>
            <td>店铺名称</td>
            <td>操作</td>
        </tr>
        <tr>
            <td colspan="4">当前暂无商家</td>
        </tr>
    </table>
</body>
</html>