<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员所有成功审核的农场临时页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f48fcde49f6822707df87e6e395b4d08"></script>
</head>
<body>
    <table border="1">
        <tr>
            <th>编号</th>
            <th>农场名称</th>
            <th>租赁价格</th>
            <th>租赁价格单位</th>
            <th>所属商家</th>
            <th>土地类型</th>
            <th>农场位置</th>
            <th>操作</th>
        </tr>
        <tr th:if="${vo.getAdminFarmVOList().size()}==0">
            <td colspan="8">暂无已经审核的农场数据</td>
        </tr>
        <tr th:if="${vo.getAdminFarmVOList().size()}!=0" th:each="pd,stat:${vo.getAdminFarmVOList()}">
            <td th:text="${stat.count}"></td>
            <td th:text="${pd.getFarm().getFarmName()}"></td>
            <td th:if="${pd.getFarm().getFarmPrice()}!=null" th:text="${pd.getFarm().getFarmPrice()}"></td>
            <td th:if="${pd.getFarm().getFarmUnit()}!=null" th:text="${pd.getFarm().getFarmUnit()}"></td>
            <td th:if="${pd.getFarm().getBusiness().getBusinessShopName()}!=null" th:text="${pd.getFarm().getBusiness().getBusinessShopName()}"></td>
            <td th:if="${pd.getFarm().getType().getFarmTypeName()}!=null" th:text="${pd.getFarm().getType().getFarmTypeName()}"></td>
            <td><a href="javascript:void(0);" name="gf_location" th:attr="data-lng=${pd.getFarm().getFarmLongitude()},data-lat=${pd.getFarm().getFarmLatitude()}">查看地图</a></td>
            <td th:if="${pd.getReview().getFarmReviewReviewTime()}!=null" th:text="${pd.getReview().getFarmReviewReviewTime()}"></td>
            <td th:if="${pd.getReview().getFarmReviewResult()}==0" th:text="审核未通过"></td>
            <td th:if="${pd.getReview().getFarmReviewResult()}==1" th:text="审核已通过"></td>
            <td style="text-align: center">
                <button href="javascript:void(0);" name="gf_detail" th:value="${pd.getFarm().getFarmUid()}" class="layui-btn layui-btn-primary layui-btn-xs">详情</button>
            </td>
        </tr>
    </table>
    <hr/>
    <div th:if="${vo.adminFarmVOList.size()}!=0">
        <a th:if="${vo.pageInfo.isFirstPage}==true" disabled="disabled">首页</a>
        <a th:if="${vo.pageInfo.isFirstPage}==false" th:href="@{/greenfarm/admin/management/farm(page=1)}">首页</a>

        <a th:if="${vo.pageInfo.hasPreviousPage}==false" disabled="disabled">上一页</a>
        <a th:if="${vo.pageInfo.hasPreviousPage}==true" th:href="@{/greenfarm/admin/management/farm(page=${vo.pageInfo.pageNum}-1)}">上一页</a>

        <!--<a th:if="${pg}!=${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/business/review(page=${pg})}" th:text="${pg}"></a>-->
        <!--<a th:if="${pg}==${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:text="${pg}" disabled="disabled"></a>-->

        <a th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/farm(page=${pg})}" th:text="${pg}"></a>


        <a th:if="${vo.pageInfo.hasNextPage}==false" disabled="disabled">下一页</a>
        <a th:if="${vo.pageInfo.hasNextPage}==true" th:href="@{/greenfarm/admin/management/farm(page=${vo.pageInfo.pageNum}+1)}">下一页</a>

        <a th:if="${vo.pageInfo.isLastPage}==true" disabled="disabled">末页</a>
        <a th:if="${vo.pageInfo.isLastPage}==false" th:href="@{/greenfarm/admin/management/farm(page=${vo.pageInfo.pages})}">末页</a>
    </div>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/admin/farm.js}"></script>
</body>
</html>