<!-- TODO 管理员主页临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>

    <link th:href="@{/gfstatic/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" th:href="@{/gfstatic/image/favicon.ico}"/>
</head>

<body style="background-color: #3d3d3d !important;" class="page-header-fixed page-footer-fixed page-sidebar-fixed">

    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- 顶部菜单栏 -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- 商城LOGO -->
                <a class="brand" href="javascript:void(0);" title="回到首页" style="margin-left: 10px;">
                    <!--<img src="media/image/logo.png" class="" alt="logo"/>-->
                    <i class="fa fa-cubes"></i>
                    <b>商城后台管理系统</b>
                </a>
                <!-- END LOGO -->

                <ul class="nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-circle"></i>
                            <span th:if="${session.admin}!=null" th:text="${session.admin.adminUsername}"></span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a href="javaScript:void(0);" id="gf_logout"><i class="fa fa-key"></i>注销登录</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- 顶部菜单栏结束 -->
    </div>

    <div class="page-container">
        <!--左侧树形菜单-->
        <div class="page-sidebar nav-collapse collapse">

            <ul class="page-sidebar-menu">
                <li>
                    <!-- 显示或隐藏树形菜单 -->
                    <div class="sidebar-toggler hidden-phone" style="color: #FFFFFF;text-align: center;background: #3d3d3d;">
                        <i class="fa fa-2x fa-bars"></i>
                    </div>
                    <!-- 显示或隐藏树形菜单 END -->
                </li>
                <li>
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a href="javascript:void(0);" class="remove"></a>
                            <input type="text" placeholder="搜索..."/>
                            <input type="button" class="submit" value=""/>
                        </div>
                    </form>
                </li>


                <li class="" id="index">
                    <a href="javascript:void(0);">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="title">欢迎</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">
                        <li id="welcome">
                            <a href="javascript:changePage('welcome');">
                                <i class="fa fa-list"></i>
                                概况
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="" id="business">
                    <a href="javascript:void(0);">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="title">商家管理</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">
                        <li id="business-all">
                            <a href="javascript:changePage('business-all');">
                                <i class="fa fa-list"></i>
                                当前所有商家
                            </a>
                        </li>
                        <li id="business-review">
                            <a href="javascript:changePage('business-review');">
                                <i class="fa fa-list"></i>
                                待审核商家
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="" id="product">
                    <a href="javascript:void(0);">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="title">农产品管理</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">
                        <li id="product-up">
                            <a href="javascript:changePage('product-up');">
                                <i class="fa fa-list"></i>
                                当前上架农产品
                            </a>
                        </li>
                        <li id="product-down">
                            <a href="javascript:changePage('product-down');">
                                <i class="fa fa-list"></i>
                                当前下架农产品
                            </a>
                        </li>
                        <li id="product-review">
                            <a href="javascript:changePage('product-review');">
                                <i class="fa fa-list"></i>
                                待审核农产品
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="" id="farm">
                    <a href="javascript:void(0);">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="title">农场管理</span>
                        <span class="arrow"></span>
                        <span class="selected"></span>
                    </a>
                    <ul class="sub-menu">
                        <li id="farm-up">
                            <a href="javascript:changePage('farm-up');">
                                <i class="fa fa-list"></i>
                                当前发布的农场信息
                            </a>
                        </li>
                        <li id="farm-down-admin">
                            <a href="javascript:changePage('farm-down-admin');">
                                <i class="fa fa-list"></i>
                                当前撤回的农场信息
                            </a>
                        </li>
                        <li id="farm-review">
                            <a href="javascript:changePage('farm-review');">
                                <i class="fa fa-list"></i>
                                待审核农场信息
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <div id="content" class="page-content">
        <iframe id="mainFrame" frameborder="0" src=""></iframe>
    </div>
   <!-- <h4>商家管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/business/loadAll}">已有商家</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/business/review}">待审核商家</a>
        </li>
    </ul>
    <hr/>
    <h4>商品管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/product}">已上架商品</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/product/down}">已下架商品</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/product/review}">商品审核</a>
        </li>
    </ul>
    <h4>农场管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm}">已审核农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/up}">已上架农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/down}">已下架农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/review}">农场审核</a>
        </li>
    </ul>-->

    <div class="footer">
        <div class="footer-inner" style="width: 100%;text-align: center;">
            2019 &copy; GreenFarm
            <div class="footer-tools">
				<span class="go-top" title="回到顶部">
                    <i class="fa fa-chevron-up"></i>
				</span>
            </div>
        </div>
    </div>

    <script th:src="@{/gfstatic/js/vue/jquery-1.10.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script th:src="@{/gfstatic/js/vue/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/bootstrap.min.js}" type="text/javascript"></script>
    <!--[if lt IE 9]>-->
    <script th:src="@{/gfstatic/js/vue/excanvas.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/respond.min.js}"></script>
    <!--<![endif]-->
    <script th:src="@{/gfstatic/js/vue/jquery.slimscroll.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/jquery.cookie.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/jquery.uniform.min.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/app.js}" type="text/javascript"></script>
    <script th:src="@{/gfstatic/js/vue/index.js}" type="text/javascript"></script>

    <script type="text/javascript" th:src="@{/gfstatic/js/common/admin/logout.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/admin/index.js}"></script>

</body>
</html>