<!-- TODO 管理员主页临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员主页临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>

</head>
<body>
    <table th:if="${session.admin}!=null" border="1">
        <tr>
            <td>工号</td>
            <td th:text="${session.admin.adminUsername}"></td>
        </tr>
    </table>
    <hr/>
    <a href="javaScript:void(0)" id="gf_logout">注销登录</a>
    <hr/>
    <h4>商家管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/business/loadAll}">已有商家</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/business/review}">待审核商家</a>
        </li>
    </ul>
    <hr/>
    <h4>商品管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/product}">已上架商品</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/product/down}">已下架商品</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/product/review}">商品审核</a>
        </li>
    </ul>
    <h4>农场管理</h4>
    <ul>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm}">已审核农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/up}">已上架农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/down}">已下架农场</a>
        </li>
        <li>
            <a th:href="@{/greenfarm/admin/management/farm/review}">农场审核</a>
        </li>
    </ul>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/admin/logout.js}"></script>
</body>
</html>