<!-- TODO 管理员所有成功上架商品临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员所有成功上架商品临时页面</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>

    <link th:href="@{/gfstatic/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/gfstatic/css/pagination.css}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" th:href="@{/gfstatic/image/favicon.ico}" />
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <h3 class="page-title"><i class="fa fa-user-circle"></i>当前上架农产品</h3>
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0);"><i class="fa fa-home"></i>农场品</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:void(0);">所有上架商品</a>
            </li>
        </ul>
    </div>
    <div class="row-fluid">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>
                    上架商品列表
                </div>
            </div>
            <div class="portlet-body">
                <table id="userTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>商品编号</td>
                        <td>商品名称</td>
                        <td>商品单价</td>
                        <td>商品主图片</td>
                        <td>操作</td>
                    </tr>
                    <tr th:if="${vo.adminProductVOList.size()}==0">
                        <td colspan="5">暂无成功上架商品数据</td>
                    </tr>
                    <tr th:if="${vo.adminProductVOList.size()}!=0" th:each="pd:${vo.adminProductVOList}">
                        <td th:text="${pd.product.productUid}"></td>
                        <td th:text="${pd.product.productName}"></td>
                        <td th:if="${pd.product.productUnit}==null" th:text="${pd.product.productPrice+'元'}"></td>
                        <td th:if="${pd.product.productUnit}!=null" th:text="${pd.product.productPrice+'元/'+pd.product.productUnit}"></td>
                        <td th:if="${pd.mainImage}==null">暂无商品主图片</td>
                        <td th:if="${pd.mainImage}!=null">
                            <a th:href="@{${pd.mainImage.productImagePath}}" target="_blank">
                                <img th:src="@{${pd.mainImage.productImagePath}}" width="100px" height="100px"/>
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" th:value="${pd.product.productUid}" name="gf_detail">详情</a>
                            <a href="javascript:void(0)" th:value="${pd.product.productUid}" name="gf_down">下架商品</a>
                        </td>
                    </tr>
                </table>
                <!-- 这里显示分页 -->
                <div th:if="${vo.adminProductVOList.size()}!=0" id="Pagination" class="pagination align_right" >
                    <a th:if="${vo.pageInfo.isFirstPage}==true" disabled="disabled">首页</a>
                    <a th:if="${vo.pageInfo.isFirstPage}==false" th:href="@{/greenfarm/admin/management/product/up(page=1)}">首页</a>

                    <a th:if="${vo.pageInfo.hasPreviousPage}==false" disabled="disabled">上一页</a>
                    <a th:if="${vo.pageInfo.hasPreviousPage}==true" th:href="@{/greenfarm/admin/management/product/up(page=${vo.pageInfo.pageNum}-1)}">上一页</a>

                    <!--<a th:if="${pg}!=${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/business/review(page=${pg})}" th:text="${pg}"></a>-->
                    <!--<a th:if="${pg}==${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:text="${pg}" disabled="disabled"></a>-->

                    <a th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/product/up(page=${pg})}" th:text="${pg}"></a>


                    <a th:if="${vo.pageInfo.hasNextPage}==false" disabled="disabled">下一页</a>
                    <a th:if="${vo.pageInfo.hasNextPage}==true" th:href="@{/greenfarm/admin/management/product/up(page=${vo.pageInfo.pageNum}+1)}">下一页</a>

                    <a th:if="${vo.pageInfo.isLastPage}==true" disabled="disabled">末页</a>
                    <a th:if="${vo.pageInfo.isLastPage}==false" th:href="@{/greenfarm/admin/management/product/up(page=${vo.pageInfo.pages})}">末页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/gfstatic/js/vue/jquery-1.10.1.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery.uniform.min.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/app.js}" type="text/javascript"></script>
<script th:src="@{/gfstatic/js/vue/jquery.pagination.js}" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/gfstatic/js/management/admin/product-up.js}"></script>
</body>
</html>