<!-- TODO 管理员所有成功上架商品临时页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员所有成功上架商品临时页面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <table border="1">
        <tr>
            <td>商品编号</td>
            <td>商品名称</td>
            <td>商品单价</td>
            <td>商品主图片</td>
            <td>操作</td>
        </tr>
        <tr th:if="${vo.adminProductVOList.size()}==0">
            <td colspan="5">暂无成功上架商品数据</td>
        </tr>
        <tr th:if="${vo.adminProductVOList.size()}!=0" th:each="pd:${vo.adminProductVOList}">
            <td th:text="${pd.product.productUid}"></td>
            <td th:text="${pd.product.productName}"></td>
            <td th:if="${pd.product.productUnit}==null" th:text="${pd.product.productPrice+'元'}"></td>
            <td th:if="${pd.product.productUnit}!=null" th:text="${pd.product.productPrice+'元/'+pd.product.productUnit}"></td>
            <td th:if="${pd.mainImage}==null">暂无商品主图片</td>
            <td th:if="${pd.mainImage}!=null">
                <a th:href="@{${pd.mainImage.productImagePath}}">
                    <img th:src="@{${pd.mainImage.productImagePath}}" width="100px" height="100px"/>
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" th:value="${pd.product.productUid}" name="gf_detail">详情</a>
                <a href="javascript:void(0)" th:value="${pd.product.productUid}" name="gf_down">下架商品</a>
            </td>
        </tr>
    </table>
    <hr/>
    <div th:if="${vo.adminProductVOList.size()}!=0">
        <a th:if="${vo.pageInfo.isFirstPage}==true" disabled="disabled">首页</a>
        <a th:if="${vo.pageInfo.isFirstPage}==false" th:href="@{/greenfarm/admin/management/product(page=1)}">首页</a>

        <a th:if="${vo.pageInfo.hasPreviousPage}==false" disabled="disabled">上一页</a>
        <a th:if="${vo.pageInfo.hasPreviousPage}==true" th:href="@{/greenfarm/admin/management/product(page=${vo.pageInfo.pageNum}-1)}">上一页</a>

        <!--<a th:if="${pg}!=${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/business/review(page=${pg})}" th:text="${pg}"></a>-->
        <!--<a th:if="${pg}==${vo.pageInfo.pageNum}" th:each="pg:${vo.pageInfo.navigatepageNums}" th:text="${pg}" disabled="disabled"></a>-->

        <a th:each="pg:${vo.pageInfo.navigatepageNums}" th:href="@{/greenfarm/admin/management/product(page=${pg})}" th:text="${pg}"></a>


        <a th:if="${vo.pageInfo.hasNextPage}==false" disabled="disabled">下一页</a>
        <a th:if="${vo.pageInfo.hasNextPage}==true" th:href="@{/greenfarm/admin/management/product(page=${vo.pageInfo.pageNum}+1)}">下一页</a>

        <a th:if="${vo.pageInfo.isLastPage}==true" disabled="disabled">末页</a>
        <a th:if="${vo.pageInfo.isLastPage}==false" th:href="@{/greenfarm/admin/management/product(page=${vo.pageInfo.pages})}">末页</a>
    </div>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/admin/product-checked.js}"></script>
</body>
</html>