<!-- TODO 审核未通过理由临时界面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审核未通过理由临时界面</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
</head>
<body>
    <table th:if="${reviewUid}!=null" border="1">
        <tr>
            <td>申请流水号</td>
            <td th:text="${reviewUid}"></td>
        </tr>
    </table>
    <form>
        <textarea id="gf_reason"></textarea>
        <br/>
        <input type="button" id="gf_sure" value="确认"/>
    </form>
    <input type="hidden" id="gf_review_uid" th:value="${reviewUid}"/>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/admin/review-business-disagree-reason.js}"></script>
</body>
</html>