<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>绿色农场</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>
    <link rel="stylesheet" th:href="@{/gfstatic/layui/css/layui.css}"/>
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/common.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/gfstatic/layui/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/gfstatic/layui/layui.js}"></script>
    <style>
        #farm_cate{
            margin-bottom: 50px;
        }
    </style>
</head>
<body class="site-home">
<!--头部模块-->
<div th:replace="shop/common::head"></div>
<div class="layui-container" id="content">
    <!--一级分类商品-->
    <div class="layui-row">
        <input type="hidden" id="cid" th:value="${category.farmTypeUid}"/>

        <div class="layui-col-md12">
            <h1 class="site-h1"><i class="fa fa-gift" style="color: #FF5722;"></i>
                &nbsp;<span th:text="${category.farmTypeName}"></span>
            </h1>
        </div>
    </div>
    <div class="layui-row" style="text-align: center;">
        <div class="layui-row" id="farm_cate">

        </div>
        <a class="more" href="javascript: more();">点击加载更多</a>
    </div>
</div>
<!--底部-->
<div th:replace="shop/common::foot"></div>
<script type="text/javascript" th:src="@{/gfstatic/js/management/shop/farm-category-index.js}"></script>
</body>
</html>