<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>绿色农场</title>
    <script type="text/javascript" th:src="@{/gfstatic/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/templateone/res/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/url.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/js/common/map.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/layui/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/gfstatic/layui/layui.js}"></script>

    <link th:href="@{/gfstatic/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style-responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style-metro.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
    <link th:href="@{/gfstatic/css/uniform.default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/image/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{/gfstatic/templateone/res/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/gfstatic/css/common.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="site-home">
<!--头部模块-->
    <div th:replace="shop/common::head"></div>

    <div class="layui-container">
        <div >
            <div class="detcon clearfix">
                <div id="product">
                    <div class="fl img">
                        <img class="product_img" th:src="${product.getMainImage().getProductImagePath()}" />
                    </div>
                    <div class="fr info">
                        <input type="hidden" id="productId" th:value="${product.product.productUid}"/>
                        <div class="tit">
                            <p class="title" th:text="${product.product.productName}"></p>
                        </div>
                        <div th:if="${product.product.productType.typeName} != null">
                            <span>农场类型：<span th:text="${product.product.productType.typeName}"></span></span>
                        </div>
                        <div class="pri">
                            <span class="price"><span class="price" th:text="${product.product.productPrice}"></span>&nbsp;元/<span class="price" th:text="${product.product.productUnit}"></span></span>
                        </div>
                        <div class="btns">
                            <button onclick="addCart()" class="fl btn-add layui-btn layui-btn-lg layui-btn-primary">加入购物车</button>
                            <button onclick="purchaseProduct()" class="fr btn-pur layui-btn layui-btn-lg layui-btn-danger">立即购买</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--商品详情-->
            <div class="detail clearfix">
                <fieldset class="layui-elem-field">
                    <legend style="font-weight: 700; text-align: center"><i class="fa fa-heart" style="color: #FF5722;"></i>商品描述<i class="fa fa-heart" style="color: #FF5722;"></i></legend>
                    <div class="layui-field-box">
                        <div class="desc">
                            <p>商品描述：</p>
                            <p th:text="${product.product.getProductDescription()}"></p>
                        </div>
                        <div class="more_pic">
                            <div th:if="${product.getOtherImages().size()}==0">
                                <p>无其他图片</p>
                            </div>
                            <div th:if="${product.getOtherImages().size()}!=0" th:each="img:${product.getOtherImages()}">
                                <img th:src="${img.productImagePath}" class="img_responsive"/>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/gfstatic/js/management/shop/product-detail.js}"> </script>
    <!--底部-->
    <div th:replace="shop/common::foot"></div>
</body>
</html>